@page
@using Cricinfo.Models.Enums
@model InningsModel
@{
    bool showNextInningsButton = false, showSubmitAllInningsButton = false;
    if (TempData.ContainsKey("matchType") && TempData.ContainsKey("teamOrder") && TempData.ContainsKey("innings"))
    {
        showNextInningsButton = (MatchType)TempData.Peek("matchType") switch
        {
            MatchType.TestMatch => (int)TempData.Peek("teamOrder") == 2 && (int)TempData.Peek("innings") == 2,
            _ => (int)TempData.Peek("teamOrder") == 2 && (int)TempData.Peek("innings") == 1
        };

        showSubmitAllInningsButton = (int)TempData.Peek("teamOrder") == 1 && (int)TempData.Peek("innings") == 1;
    }
}
@{
    <h1 class="font-weight-normal">@TempData.Peek("header")</h1>

    <div>
        <form class="form-group" method="post">
            <div class="form-check">
                <input class="form-check-input" asp-for=Team type="radio" value="@TempData.Peek("homeTeam")" />
                <label class="form-check-label" asp-for=Team>@TempData.Peek("homeTeam")</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" asp-for=Team type="radio" value="@TempData.Peek("awayTeam")" />
                <label class="form-check-label" asp-for=Team>@TempData.Peek("awayTeam")</label>
            </div>

            <label asp-for=BattingScorecard></label>
            <textarea class="form-control" asp-for=BattingScorecard></textarea>
            <span class="text-danger" asp-validation-for="BattingScorecard"></span>

            <label asp-for=BowlingScorecard></label>
            <textarea class="form-control" asp-for=BowlingScorecard></textarea>
            <span class="text-danger" asp-validation-for="BowlingScorecard"></span>

            <label asp-for=FallOfWicketScorecard></label>
            <textarea class="form-control" asp-for=FallOfWicketScorecard></textarea>
            <span class="text-danger" asp-validation-for="FallOfWicketScorecard"></span>

            <label asp-for=Extras></label>
            <input class="form-control" asp-for=Extras />
            <span class="text-danger" asp-validation-for="Extras"></span>

            <br />

            <div class="row">
                <div class="col">
                    @if (showNextInningsButton)
                    {
                        <input class="form-control btn btn-info" type="submit" disabled
                               asp-page-handler="AddAnotherInnings" value="Add another innings" />
                    }
                    else
                    {
                        <input class="form-control btn btn-info" type="submit"
                               asp-page-handler="AddAnotherInnings" value="Add another innings" />
                    }
                </div>

                <div class="col">
                    @if (showSubmitAllInningsButton)
                    {
                        <input class="form-control btn btn-info" type="submit" disabled
                               asp-page-handler="SubmitAllInnings" value="Submit all innings" />
                    }
                    else
                    {
                        <input class="form-control btn btn-info" type="submit"
                               asp-page-handler="SubmitAllInnings" value="Submit all innings" />
                    }
                </div>
            </div>
        </form>
    </div>
}
