@page
@model ScorecardModel
@using System
@using Cricinfo.Models.Enums
@using Cricinfo.UI.ValidationAttributes
@{
    <div>
        <form class="form-group" method="post">
            <div class="alert alert-danger" role="alert" asp-validation-summary="ModelOnly">
                Please review the following validation errors:
            </div>

            <label asp-for=Venue></label>
            <input class="form-control" asp-for=Venue />
            <span class="text-danger" asp-validation-for="Venue"></span>

            <label asp-for=MatchType></label>
            @foreach (var matchType in Enum.GetValues(typeof(MatchType)))
            {
                <div class="form-check">
                    <input class="form-check-input" asp-for=MatchType type="radio" value="@matchType">
                    <label class="form-check-label" asp-for=MatchType>
                        @Converters.ConvertMatchType((MatchType)matchType)
                    </label>
                </div>
            }

            <label asp-for=DateOfFirstDay></label>
            <input class="form-control" asp-for=DateOfFirstDay type="date" value="@DateTime.Now.Date.ToLongDateString()" />
            <span class="text-danger" asp-validation-for="DateOfFirstDay"></span>

            <label asp-for=HomeTeam></label>
            <input class="form-control" asp-for=HomeTeam />
            <span class="text-danger" asp-validation-for="HomeTeam"></span>

            <label asp-for=AwayTeam></label>
            <input class="form-control" asp-for=AwayTeam />
            <span class="text-danger" asp-validation-for="AwayTeam"></span>

            <label asp-for=Result></label>
            @foreach (var resultType in Enum.GetValues(typeof(Result)))
            {
                <div class="form-check">
                    <input class="form-check-input" asp-for=Result type="radio" value="@resultType">
                    <label class="form-check-label" asp-for=Result>
                        @Converters.ConvertResult((Result)resultType)
                    </label>
                </div>
            }

            <label asp-for=HomeSquad></label>
            <textarea class="form-control" id="HomeSquadInput" asp-for=HomeSquad rows="@DataValidator.NumberOfPlayers"></textarea>
            <span class="text-danger" asp-validation-for="HomeSquad"></span>

            <label asp-for=AwaySquad></label>
            <textarea class="form-control" id="AwaySquadInput" asp-for=AwaySquad rows="@DataValidator.NumberOfPlayers"></textarea>
            <span class="text-danger" asp-validation-for="AwaySquad"></span>

            <br />

            <div class="row">
                <div class="col-4">
                    <input class="form-control btn btn-info" type="submit" />
                </div>
            </div>
        </form>
    </div>
}

@section Scripts {
    <script>
        document.getElementById("HomeSquadInput").addEventListener('input', validateInputAsync('/scorecard/scorecard?handler=ValidateScorecard'));
        document.getElementById("AwaySquadInput").addEventListener('input', validateInputAsync('/scorecard/scorecard?handler=ValidateScorecard'));
    </script>
}
